{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Stage 2: Individual Tasks
{% endblock %}

{% block content %}

<p class="custom">
	There will be 2 individual tasks.
</p>

<ul class="custom">
	<li> In one, you will provide your preferences over different movie genres. </li>
	<li> In the other, you will provide your preferences over different types of pizza. </li>
</ul>

<p class="custom">
	Given your responses to the tasks, the computer will generate one model of your preferences for movie genres and
	another	model for pizzas type preferences.

</p>
    <button class="otree-btn-next btn btn-primary" style="font-size:18px">Next</button>

{% endblock %}

{% block app_styles %}
<style type="text/css">
.custom {
	font-size: 18px;
}
</style>
{% endblock %}